global
    log stdout format raw local0

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend http_front
    bind *:8080
    default_backend backend_servers

backend backend_servers
    server app1 10.1.2.5:8080